
config.json
Tutorando.exe
__pycache__/Tutorando.cpython-38.pyc
auto-py-to-exe.json
exe/readme md.py
exe/zip.py
pyinstaller.txt
exe/test time.py
workspace.code-workspace
__pycache__/Tutorando.cpython-310.pyc
